In [2]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
import random

# Simulate 60 days of data
customers = ['Amazon', 'Walmart', 'Target', 'Costco', 'BestBuy', 'eBay']
data = []
start_date = datetime(2025, 4, 1)
for i in range(1, 61):
    date = start_date + timedelta(days=i)
    for _ in range(random.randint(3, 6)):
        data.append({
            'id': random.randint(1000, 9999),
            'customer': random.choice(customers),
            'date': date.date().isoformat(),
            'amount': random.randint(100, 2000),
            'last_updated': (date + timedelta(hours=random.randint(0, 23), minutes=random.randint(0, 59))).isoformat()
        })

df = pd.DataFrame(data)
df.to_csv('sales_data_large.csv', index=False)
df.head(60)

      id customer        date  amount         last_updated
0   4660   Costco  2025-04-02    1023  2025-04-02T15:50:00
1   8005  BestBuy  2025-04-02     115  2025-04-02T10:09:00
2   3090   Amazon  2025-04-02     725  2025-04-02T18:17:00
3   6273   Target  2025-04-03     898  2025-04-03T11:22:00
4   7116   Amazon  2025-04-03     624  2025-04-03T05:11:00
5   1250   Costco  2025-04-03     202  2025-04-03T07:10:00
6   5809   Amazon  2025-04-03    1329  2025-04-03T23:52:00
7   5749   Costco  2025-04-03     947  2025-04-03T20:00:00
8   9810  BestBuy  2025-04-04    1894  2025-04-04T10:57:00
9   6395  BestBuy  2025-04-04     134  2025-04-04T05:56:00
10  9611   Target  2025-04-04    1157  2025-04-04T11:53:00
11  8647   Amazon  2025-04-04    1535  2025-04-04T02:48:00
12  3906   Amazon  2025-04-04    1827  2025-04-04T23:58:00
13  4209     eBay  2025-04-04     597  2025-04-04T05:43:00
14  9087  Walmart  2025-04-05    1041  2025-04-05T09:48:00
15  7792  BestBuy  2025-04-05    1351  2025-04-05T02:48:00
16  7764   Costco  2025-04-05     696  2025-04-05T04:37:00
17  1720   Amazon  2025-04-05     800  2025-04-05T23:03:00
18  8069   Target  2025-04-05     955  2025-04-05T12:34:00
19  1145   Amazon  2025-04-06     887  2025-04-06T17:26:00
20  5119  BestBuy  2025-04-06     971  2025-04-06T14:24:00
21  3838  BestBuy  2025-04-06     856  2025-04-06T02:29:00
22  8798   Target  2025-04-06     588  2025-04-06T23:19:00
23  6585   Amazon  2025-04-06    1680  2025-04-06T17:07:00
24  4066   Amazon  2025-04-06     426  2025-04-06T08:38:00
25  7400   Target  2025-04-07    1484  2025-04-07T16:22:00
26  3883   Amazon  2025-04-07     531  2025-04-07T13:18:00
27  2131  BestBuy  2025-04-07    1372  2025-04-07T04:59:00
28  3613   Costco  2025-04-07    1613  2025-04-07T00:03:00
29  2601   Amazon  2025-04-07    1359  2025-04-07T03:04:00
30  7160   Costco  2025-04-07    1881  2025-04-07T02:04:00
31  7544     eBay  2025-04-08    1252  2025-04-08T06:21:00
32  3713   Amazon  2025-04-08    1972  2025-04-08T03:42:00
33  3311  Walmart  2025-04-08     866  2025-04-08T09:44:00
34  5163   Costco  2025-04-08    1512  2025-04-08T15:16:00
35  1451  Walmart  2025-04-08     378  2025-04-08T03:01:00
36  8921  Walmart  2025-04-09    1981  2025-04-09T04:41:00
37  2350  Walmart  2025-04-09     109  2025-04-09T14:54:00
38  6008     eBay  2025-04-09    1180  2025-04-09T12:28:00
39  2383     eBay  2025-04-09     141  2025-04-09T22:51:00
40  1727  BestBuy  2025-04-09    1059  2025-04-09T18:27:00
41  9173   Target  2025-04-10     456  2025-04-10T22:26:00
42  9145   Target  2025-04-10    1544  2025-04-10T11:37:00
43  8511     eBay  2025-04-10     456  2025-04-10T17:26:00
44  9996  BestBuy  2025-04-11     215  2025-04-11T21:26:00
45  4062   Amazon  2025-04-11    1435  2025-04-11T03:14:00
46  2729  BestBuy  2025-04-11    1978  2025-04-11T14:07:00
47  3982   Target  2025-04-11    1384  2025-04-11T10:31:00
48  2017   Costco  2025-04-12     855  2025-04-12T07:47:00
49  6183     eBay  2025-04-12    1956  2025-04-12T12:34:00
50  7370   Target  2025-04-12    1672  2025-04-12T04:20:00
51  4700   Target  2025-04-12     229  2025-04-12T06:12:00
52  8671   Costco  2025-04-12    1674  2025-04-12T10:02:00
53  3202  Walmart  2025-04-13     750  2025-04-13T12:32:00
54  5798   Target  2025-04-13    1254  2025-04-13T20:09:00
55  8720   Amazon  2025-04-13    1522  2025-04-13T02:02:00
56  3934   Target  2025-04-13     767  2025-04-13T05:51:00
57  3140   Amazon  2025-04-13    1412  2025-04-13T13:48:00
58  3937  Walmart  2025-04-13    1314  2025-04-13T06:47:00
59  4787   Target  2025-04-14     980  2025-04-14T20:14:00

In [3]:
# FULL EXTRACTION
df_full = pd.read_csv("sales_data_large.csv", parse_dates=["last_updated"])
print(f"Extracted {len(df_full)} rows fully.")
df_full.head()

Extracted 278 rows fully.

     id customer        date  amount        last_updated
0  4660   Costco  2025-04-02    1023 2025-04-02 15:50:00
1  8005  BestBuy  2025-04-02     115 2025-04-02 10:09:00
2  3090   Amazon  2025-04-02     725 2025-04-02 18:17:00
3  6273   Target  2025-04-03     898 2025-04-03 11:22:00
4  7116   Amazon  2025-04-03     624 2025-04-03 05:11:00

In [4]:
with open("last_extraction.txt", "w") as f:
    f.write("2025-04-20 12:00:00")

In [5]:
# INCREMENTAL EXTRACTION
with open("last_extraction.txt", "r") as f:
    last_extraction = f.read().strip()

df = pd.read_csv("sales_data_large.csv", parse_dates=["last_updated"])
last_extraction_time = pd.to_datetime(last_extraction)

df_incremental = df[df['last_updated'] > last_extraction_time]
print(f"Extracted {len(df_incremental)} rows incrementally since {last_extraction}.")
df_incremental.head()

Extracted 190 rows incrementally since 2025-04-20 12:00:00.

      id customer        date  amount        last_updated
84  8330     eBay  2025-04-20     466 2025-04-20 16:36:00
88  5264     eBay  2025-04-20    1625 2025-04-20 20:04:00
90  3447   Amazon  2025-04-21    1575 2025-04-21 22:09:00
91  7170  BestBuy  2025-04-21    1904 2025-04-21 12:55:00
92  1131   Target  2025-04-21    1306 2025-04-21 07:19:00

In [6]:
# Update checkpoint
new_checkpoint = df['last_updated'].max()
with open("last_extraction.txt", "w") as f:
    f.write(new_checkpoint.isoformat())
print(f"Updated last_extraction.txt to {new_checkpoint}")

Updated last_extraction.txt to 2025-05-31 21:01:00